<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manzxrat.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:label="MAN X RAT"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".WelcomeActivity" android:exported="false"/>
        <activity android:name=".LoginActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".BugActivity" android:exported="false"/>
        <activity android:name=".SenderActivity" android:exported="false"/>
        <activity android:name=".SadapActivity" android:exported="false"/>
        <activity android:name=".ToolsActivity" android:exported="false"/>
        <activity android:name=".ProfileActivity" android:exported="false"/>
        <activity android:name=".SettingsActivity" android:exported="false"/>
        <activity android:name=".RoleManagementActivity" android:exported="false"/>
    </application>
</manifest>
